.billboard-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 88px 60px 0;
  
  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 16px;

    .details-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      gap: 16px;
    }

    .title {
      font-size: 5rem;
      color: var(--secondary);
      line-height: 6rem;
    }

    .description {
      font-size: 1.5rem;
    }

    .button-cta {
      width: 200px;
      margin-top: 20px;


      @media (max-width: 756px) {
        margin: 20px auto;
      }

    }
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      max-width: 420px;
      max-height: 640px;
      object-fit: cover;
    }
  }

  @media (max-width: 1024px) {
    .details {
      .title {
        font-size: 3.5rem;
        line-height: 4rem;
      }
    }

    .image {
      img {
        max-width: 260px;
      }
    }
  }

  @media (max-width: 756px) {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 128px 20px 0;
  }
}


