  .header {
    width: 100%;
    padding: 0 20px;
    z-index: 10;
    position: fixed;
    background-color: var(--background);

    .contact-top {
      display: flex;
      justify-content: space-between;
      max-width: var(--max-width);
      margin: 4px auto;
      padding: 0 24px;

      .column {
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-weight: 600;
            font-size: 15px;
          }

          span {
            color: var(--heading);
            font-size: 15px;
            font-weight: 600;
          }

          .icon {
            width: 20px;
            margin-right: 10px;
          }
        }
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--background-base);
      box-shadow: var(--shadow-base);
      max-width: var(--max-width);
      border-radius: 48px;
      padding: 0 28px;
      height: 68px;
      margin: 5px auto 0;

      .logo {
        max-width: 168px;
        
        img {
          display: flex;
          align-items: center;
          justify-content: baseline;
          width: 100%;
          height: auto;
        }
      }

      .details {
        display: flex;
        align-items: center;

        .language-switcher {
          display: inline-flex;
          border: 2px solid var(--background-opposite-base);
          border-radius: 20px;
          overflow: hidden;
          margin-right: 16px;

          button {
            background-color: transparent;
            border: none;
            padding: 10px 16px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            outline: none;
            color: var(--text);
          }

          button:not(.active):hover {
            background-color: #f0f0f0;
          }

          button.active {
            background-color: var(--primary);
            color: var(--white);
          }

          button:first-child {
            border-right: 1px solid #ccc;
          }

          button:last-child {
            border-left: 1px solid #ccc;
          }
        }

        .dark-mode-icons {
          display: flex;
          margin-right: .4rem;
          padding: 20px 0;
          cursor: pointer;
          
          .sun,
          .moon {
            margin-right: 10px;
          }
        }
  
        .hamburger-menu {
          padding: 10px 10px 10px 0;
          cursor: pointer;
  
          @media (max-width: 768px) {
            display: flex;
          }
        }
  
        .contact-button {
          margin-left: 1rem;
        }
  
      }
  
    } 

    @media (max-width: 848px) {
      padding: 0;
      background-color: transparent;
      backdrop-filter: blur(5px);

      .contact-top {
        display: none;
      }

      .container {
        padding: 0 10px;
        margin: 14px 10px 0;

        .logo {
          img {
            width: 140px;
          }
        }

        .details {
          .language-switcher {
            button {
              padding: 8px 12px;
            }
          }
        }
       }
      }

    @media (max-width: 450px) {
      .container {
        .details {
          .dark-mode-icons {
            display: none;
          }
        }
      }
    }
  }